.contenedor-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
    position: relative;
    top: 40%;
}

.contenedor-inicio__boton-inicio{
    width: 75%;
    height: 3.5rem;

    font-size: 1rem;
    font-weight: 600;
    background-color:var(--color-azul);
    border: none;
    border-radius: 0.5rem;
    color: white;
}


.contenedor-inicio__boton-agregar{
    width: 65%;
    height: 3rem;

    margin-top: 1rem;
    background: var(--color-btn-secundario);
    border: 1px solid var(--color-azul);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-azul);
}


@media screen and (min-width:768px){ /*tablet*/

    .contenedor-inicio__boton-inicio{
        height: 5.5rem;
        border-radius: 1.5rem;
        font-size: 1.5rem;
    }
    .contenedor-inicio__boton-agregar{
        height: 4.5rem;
        border-radius: 1.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1024px){ /*desktop*/
    .contenedor-inicio__boton-inicio{
        width: 30%;
    }

    .contenedor-inicio__boton-inicio:hover{
        transform: scale(1.04);
    }

    .contenedor-inicio__boton-agregar{
        width: 25%;
    }

    .contenedor-inicio__boton-agregar:hover{
        transform: scale(1.04);
    }
}